<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Ömer Kars</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="/about" class="nav-link">Hakkımda</a>
            </li>
            <li class="nav-item">
                <a href="/blogs" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="/contacts" class="nav-link">İletişim</a>
            </li>



            <% if (isAdmin || isModerator) { %>            
                
                <li class="nav-item">
                    <a href="/admin/blogs" class="nav-link">Admin Blogs </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/blog/create" class="nav-link">Add Blog </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/contacts" class="nav-link">Admin Contacts </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/contact/create" class="nav-link">Add Contacts </a>
                </li>


            <% } %>

            <% if (isAdmin) { %>
             
                <li class="nav-item">
                    <a href="/admin/categories" class="nav-link">Admin Categories </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/category/create" class="nav-link">Add Category </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/roles" class="nav-link">Roles</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link">Users</a>
                </li>
                
            <% } %>

           

        </ul>

        <ul class="navbar-nav ms-auto">

            <% if (isAuth) { %>   
                <li class="nav-item">
                    <a href="/account/index" class="nav-link"><%= fullname %> </a>
                </li>
                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Logout</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/account/register" class="nav-link">Register</a>
                </li>
            <% } %>               
            

        </ul>




    </div>
</nav>